<!DOCTYPE html>
<html>
<head>
  <title>BootstrapDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
    欢迎您，　<%= link_to "#{current_user.try :email}", edit_user_registration_path %>　&nbsp;&nbsp;
    <%= link_to '退出', destroy_user_session_path, :method => :delete %>
<% end %>
<%= yield %>

</body>
</html>
